include LICENSE
include README.md
include MANIFEST.in
include moonplanner/swagger.json
recursive-include moonplanner *.py
recursive-include moonplanner/static *
recursive-include moonplanner/templates *
