{% extends 'allianceauth/base.html' %}
{% load i18n %}
{% block page_title %}{% trans 'Moon List' %}{% endblock %}
{% load static %}

{% block content %}
    <div class="col-lg-12">
        <br>
        {% include 'moonstuff/moonmenu.html' %}
        <h2> {% trans "Moons" %} </h2>
                
        <div id="loader">
			<img class="center-block" src="{% static "moonstuff/Spinner-1s-200px.svg" %}" alt="Spinner"/>
		</div>
        
        <div id="moon_table" style="display: none !important;">
            <table class="table table-striped" id="moon-list" style="width:100%;">
                <thead>
                    <th>Moon</th>
                    <th>System</th>
                    <th>Region</th>
                    <th>Monthly income est. in B ISK</th>
                    <th>Details</th>
                </thead>
                <tbody>                   
                </tbody>
            </table>
        </div>
    </div>
    <p class="text-muted">
        Income estimates are calculated using reprocessed ores, 
        current average market prices, 
        a reprocessing yield of {{ reprocessing_yield|floatformat }}%
        and an assumed monthly ore volume of {{ total_volume_per_month }} million m3
    </p>


{% endblock %}
{% block extra_javascript %}
    {% include 'bundles/datatables-js.html' %}
    <!--load JS for filterDropDown plugin -->
    <script 
        type="text/javascript" 
        src="{% static "moonstuff/filterDropDown.min.js" %}">
    </script>
{% endblock %}
{% block extra_css %}
    {% include 'bundles/datatables-css.html' %}

    <link 
        href="{% static "moonstuff/moonstuff.css" %}" 
        type="text/css" 
        rel="stylesheet"
    >
{% endblock %}
{% block extra_script %}
    $(function(){
        /* datatable definition */
        var table = $('#moon-list').DataTable({
            ajax: {
                url: '{{ ajax_url }}',                
                dataSrc: '',
                cache: true
            },	

            columns: [																			
                { data: 'moon_name' },
                { data: 'solar_system_link' },
                { data: 'region_name' },
                { data: 'income' },
                { data: 'details' },

                { data: 'solar_system_name' },                
            ],

            lengthMenu: [[8, 15, 25, 50, -1], [8, 15, 25, 50, "All"]],

            order: [ [0, "asc"] ],

            columnDefs: [														
                { "orderable": false, "targets": [ 4 ] },
                { "visible": false, "targets": [ 5 ] },
            ],
      
            filterDropDown: {										
                columns: [																
                    { 
                        idx: 5,
                        title: "System"
                    },
                    { 
                        idx: 2
                    }
                ],
                bootstrap: true,
                autoSize: false
            },
            
        });

        /* show table after loading from AJAX source is complete */
        table.on( 'xhr', function () {						
            table.columns.adjust().draw();
            $("#loader").hide();
            $("#moon_table").show();
        } );
    });
{% endblock %}