{% load humanize %}
{% load moonplanner %}

{% block content %}
    <h2> {{ sub_title }} </h2>
    {% if extractions|length_is:"0" %}
        <div class="alert alert-warning" role="alert">
            <p> There are no extractions</p>
        </div>
    {% else %}
        <table class="table table-striped" id="{{ tableid }}">
            <thead>
                <th class="text-center">Ready Time</th>
                <th class="text-center">Moon</th>
                <th class="text-center">Corporation</th>
                <th class="text-center">Volume (m3)</th>
                <th class="text-center">Value est. (B ISK)</th>
                <th class="text-center"></th>
            </thead>
            <tbody>
                {% for extraction in extractions %}
                    <tr>
                        <td class="text-center">{{ extraction.ready_time|datetime }}</td>
                        <td class="text-center">{{ extraction.refinery.moon.eve_moon.name }}</td>
                        <td class="text-center">{{ extraction.refinery.corporation }}</td>
                        <td class="text-center">{{ extraction.volume|floatformat:"0"|intcomma }}</td>
                        <td class="text-center">{{ extraction.value|floatformat:"1"|intcomma }}</td>
                        <td class="text-center">
                            {% if extraction.refinery.moon.pk %}
                                <a class="btn btn-default" href="{% url 'moonplanner:moon_info' extraction.refinery.moon.pk %}">
                                    <i class="fas fa-eye"></i>
                                </a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

    {% endif %}
{% endblock %}
