{% load static %}
{% load i18n %}
{% load navactive %}

<nav class="navbar navbar-default">
    <div class="container-fluid">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">{% trans "Toggle navigation" %}</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'moonplanner:index' %}">{% trans "Moon Planner" %}</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="{% navactive request 'moonplanner:moons' %}">
                    <a href="{% url 'moonplanner:moons' %}">Moons</a>
                </li>
                {% if perms.moonplanner.extractions_access %}
                    <li class="{% navactive request 'moonplanner:extractions' %}">
                        <a href="{% url 'moonplanner:extractions' %}">Extractions</a>
                    </li>
                {% endif %}
                {% if "/moonplanner/upload_survey" in request.path %}
                    <li class="{% navactive request 'moonplanner:upload_survey' %}">
                        <a href="{% url 'moonplanner:upload_survey' %}">Upload Moon Surveys</a>
                    </li>
                {% endif %}
                {% if "/moonplanner/moon/" in request.path %}
                    <li class="{% renavactive request '/moonplanner/moon/' %}">
                        <a href="#">Moon Details</a>
                    </li>
                {% endif %}
                {% if perms.moonplanner.reports_access %}
                    <li class="{% navactive request 'moonplanner:reports' %}">
                        <a href="{% url 'moonplanner:reports' %}">Reports</a>
                    </li>
                {% endif %}
            </ul>

            {% if perms.moonplanner.add_corporation %}
                <a class="btn btn-default navbar-btn" style="float: right" href="{% url 'moonplanner:add_corporation' %}">
                    Add Corporation
                </a>
            {% endif %}
        </div>

    </div>
</nav>
