{% load i18n %}
{% load moonplanner %}

<div class="panel panel-default" style="height:220px">
    <div class="panel-heading text-center">
        <h3 class="panel-title">Moon</h3>
    </div>

    <div class="panel-body">
        <div class="row">
            <div class="col-md-3">
                <p><strong>Name:</strong></p>
            </div>
            <div class="col-md-9">
            <p>{{ moon.eve_moon.name }}</p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3">
                <p><strong>Solar System:</strong></p>
            </div>
            <div class="col-md-9">
                {% include "moonplanner/partials/solar_system.html" with eve_solar_system=moon.eve_moon.eve_planet.eve_solar_system %}
            </div>
        </div>

        <div class="row">
            <div class="col-md-3">
                <p><strong>Corporation:</strong></p>
            </div>
            <div class="col-md-9">
            <p>{{ moon.refinery.corporation|default:"-" }}</p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3">
                <p><strong>Refinery:</strong></p>
            </div>
            <div class="col-md-9">
            {% if moon.refinery %}
                <p>{{ moon.refinery|default:"-" }}  / {{ moon.refinery.eve_type|default:"-" }}</p>
            {% else %}
                -
            {% endif %}
            </div>
        </div>

        <div class="row">
            <div class="col-md-3">
                <p><strong>Value est. *:</strong></p>
            </div>
            <div class="col-md-9">
            <p>{{ moon.value | formatisk }}</p>
            </div>
        </div>
    </div>
</div>
