{% extends 'moonmining/base.html' %}
{% load i18n %}
{% load static %}

{% block details %}
    <div class="row">
        <div class="col-md-6  mr-md-1">
            {% include 'moonmining/partials/moon_details_moon.html' %}
            {% include 'moonmining/partials/moon_details_products.html' %}
            {% include 'moonmining/partials/value_estimate_legend.html' %}
        </div>

        <div class="col-md-6">
            {% include 'moonmining/partials/moon_details_next_extraction.html' %}
            {% include 'moonmining/partials/moon_details_past_extractions.html' %}
        </div>
    </div>
{% endblock %}

{% block extra_javascript %}
    {% include 'bundles/datatables-js.html' %}
    <script>
        $(document).ready(function(){
            $('#table_past_events').DataTable({
                order: [ [0, "desc"] ]
            });
        });
    </script>
{% endblock %}

{% block extra_css %}
    {% include 'bundles/datatables-css.html' %}
     <link href="{% static 'moonmining/css/global.css' %}" type="text/css" rel="stylesheet">
     <link href="{% static 'moonmining/css/moon_details.css' %}" type="text/css" rel="stylesheet">
{% endblock %}

{% block extra_script %}
{% endblock %}
