{% load i18n %}
{% load static %}

<!-- Modal for Contracts -->
<div class="modal" id="modalExtractionDetails" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document" id="modalExtractionDetailsContent">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">
                    &times;
                </span></button>
                <h4 class="modal-title" id="myModalLabel">{% translate 'Loading...' %}</h4>
            </div>

            <div class="modal-body">
                {% if NIGHT_MODE %}
                    <img src="{% static 'moonmining/images/Spinner-1s-64px-dark.gif' %}"/>
                {% else %}
                    <img src="{% static 'moonmining/images/Spinner-1s-64px-light.gif' %}"/>
                {% endif %}
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    {% translate 'Close' %}
                </button>
            </div>
        </div>
    </div>
</div>
