{% extends 'allianceauth/base.html' %}
{% load i18n %}
{% block page_title %}{{ moon_name }}{% endblock %}
{% load static %}

{% block content %}
    <div class="col-lg-12">
        <br>
        {% include 'moonplanner/menu.html' %}
        <h2>{{ moon_name }}</h2>
        <div class="row">
            <div class="col-md-6  mr-md-1">

                <div class="panel panel-primary" style="height:200px">
                    <div class="panel-heading text-center">
                        <h3 class="panel-title">Moon</h3>
                    </div>

                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-3">
                                <p><strong>Solar System</strong></p>
                            </div>
                            <div class="col-md-9">
                                <p>{{ moon.solar_system.solar_system_name }}</p>
                            </div>
                        </div>

                         <div class="row">
                            <div class="col-md-3">
                                <p><strong>Security</strong></p>
                            </div>
                            <div class="col-md-9">
                                <p>{{ moon.solar_system.security | floatformat }}</p>
                            </div>
                        </div>

                         <div class="row">
                            <div class="col-md-3">
                                <p><strong>Region</strong></p>
                            </div>
                            <div class="col-md-9">
                                <p>{{ moon.solar_system.region.region_name }}</p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-3">
                                <p><strong>Monthly income est.</strong></p>
                            </div>
                            <div class="col-md-9">
                            <p>{{ moon_income | floatformat }} B</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel panel-primary">
                    <div class="panel-heading text-center">
                        <h3 class="panel-title">Product</h3>
                    </div>
                    <div class="panel-body">
                        {% if product_rows|length_is:"0" %}
                            <div class="alert alert-warning">
                                <p>
                                    There are no resources recorded for {{ moon_name }}.
                                    {% if perms.moonplanner.add_moon %} Why not add a moon scan? {% endif %}
                                </p>
                            </div>
                        {% else %}

                            {% for product_row in product_rows %}
                                <div class="row">
                                    <div class="col-md-2">
                                        <img class="media-object" src="{{ product_row.image_url }}">
                                    </div>

                                    <div class="col-md-8">
                                        <p><a href="{{ product_row.ore_type_url}}" target="_blank">
                                                {{ product_row.ore_type_name }}
                                            </a>
                                            ({{ product_row.ore_group_name }})
                                        </p>
                                        <div class="progress" style="height: 20px; width: 100%">
                                            <div
                                                class="progress-bar progress-bar-danger progress-bar-striped"
                                                role="progressbar"
                                                aria-valuenow="{{ product_row.amount }}"
                                                aria-valuemin="0"
                                                aria-valuemax="100"
                                                style="width: {{ product_row.amount }}%; line-height: 20px;"
                                            >
                                                <span class="sr-only">
                                                    {{ product_row.amount }}% {{ product_row.ore_type_name }}
                                                </span>
                                                <h5 class="media-heading" style="padding-top: 2px">
                                                    {{ product_row.amount }}%
                                                    </h5>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-2">
                                        <span class="pull-right">
                                            <br>
                                            {{ product_row.income | floatformat }} B
                                        </span>
                                    </div>
                                </div>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-md-6">

                <div class="panel panel-primary">
                    <div class="panel-heading text-center">
                        <h3 class="panel-title">Next Extraction</h3>
                    </div>
                    <div class="panel-body">
                        {% if next_pull == None %}
                            <p> No extraction scheduled</p>
                        {% else %}

                            <div class="row">
                                <div class="col-md-3">
                                    <p><strong>Ready Time</strong></p>
                                </div>
                                <div class="col-md-9">
                                    <p>{{ next_pull.ready_time }}</p>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-3">
                                    <p><strong>Auto Fracture Time</strong></p>
                                </div>
                                <div class="col-md-9">
                                    <p>{{ next_pull.auto_time }}</p>
                                </div>
                            </div>

                            <table class="table table-striped" id="table_next_pull">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Ore Type</th>
                                    <th>Volume</th>
                                    <th>Est. Value</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for product in next_pull.products %}
                                    <tr>
                                        <td><img src="{{ product.image_url }}"/></td>
                                        <td><a href="{{ product.ore_type_url }}" target="_blank">{{ product.ore_type_name }}</a></td>
                                        <td>{{ product.volume }}</td>
                                        <td>{{ product.value | floatformat}} B</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th></th>
                                    <th>TOTAL</th>
                                    <th>{{ next_pull.total_volume }}</th>
                                    <th>{{ next_pull.total_value | floatformat}} B</th>
                                </tr>
                            </tfoot>
                            </table>
                        {% endif %}

                    </div>
                </div>

            </div>
            <div class="col-md-6 {% if product_rows|length_is:"0" %}col-md-offset-6{% endif %}">

                    <div class="panel panel-primary">
                        <div class="panel-heading text-center">
                            <h3 class="panel-title"> Past Extractions</h3>
                        </div>
                        <div class="panel-body">
                            <table class="table text-center" id="past-events">
                                <thead>
                                    <th> Date (EVE/UTC) </th>
                                </thead>
                                <tbody>
                                    {% if ppulls|length_is:"0" %}
                                        <tr>
                                            <td> No past extraxtions recorded for this moon.</td>
                                        </tr>
                                    {% else %}
                                        {% for pull in ppulls %}
                                            <tr>
                                                <td>{{ pull.ready_time }}</td>
                                            </tr>
                                        {% endfor %}
                                    {% endif %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
        </div>

    </div>

{% endblock %}
{% block extra_javascript %}
    {% include 'bundles/datatables-js.html' %}
{% endblock %}
{% block extra_css %}
    {% include 'bundles/datatables-css.html' %}
     <link
        href="{% static "moonplanner/moon_info.css" %}"
        type="text/css"
        rel="stylesheet"
    >
{% endblock %}
{% block extra_script %}
    $(document).ready(function(){
        $('#past-events').DataTable();
    });
{% endblock %}
