{% extends 'moonplanner/base.html' %}
{% load i18n %}
{% load static %}

{% block details %}
    <span class="pull-right">
        {% if perms.moonplanner.upload_moon_scan %}
            <a class="btn btn-success btn-tabs"
                href="{% url 'moonplanner:add_moon_scan' %}">
                {% trans "Upload Moon Surveys" %}
            </a>
        {% endif %}
    </span>

    <!-- Nav tabs -->
    <ul id="myTabs" class="nav nav-tabs" role="tablist">
        <li role="presentation">
            <a href="#tab_our_moons" aria-controls="tab_our_moons" role="tab" data-toggle="tab">{% trans "Our Moons" %}</a>
        </li>
        <li role="presentation">
            <a href="#tab_all_moons" aria-controls="tab_all_moons" role="tab" data-toggle="tab">{% trans "All Moons" %}</a>
        </li>
    </ul>

    <div class="panel panel-default panel-tabs">
        <div class="panel-body">
            <div class="tab-content">
                {% include "moonplanner/partials/moons_tab.html" with category="our_moons"%}
                {% include "moonplanner/partials/moons_tab.html" with category="all_moons"%}
            </div>
            {% include 'moonplanner/partials/value_estimate_legend.html' %}
        </div>
    </div>


{% endblock %}

{% block extra_javascript %}
    {% include 'bundles/datatables-js.html' %}
    <!--load JS for filterDropDown plugin -->
    <script type="text/javascript" src="{% static 'js/filterDropDown/filterDropDown.min.js' %}"></script>
    <script type="text/javascript">
        $(function(){
            var def = {
                ajax: {
                    url: '',
                    dataSrc: '',
                    cache: true
                },
                columns: [
                    { data: 'moon_name' },
                    { data: 'corporation',
                        render: {
                            _: 'display',
                            sort: 'sort'
                        }
                    },
                    { data: 'solar_system_link' },
                    { data: 'region_name' },
                    { data: 'value' },
                    { data: 'details' },

                    { data: 'solar_system_name' },
                    { data: 'has_refinery_str' },
                    { data: 'corporation_name' },
                    { data: 'alliance_name' },
                ],
                lengthMenu: [[10, 25, 50, -1], [10, 25, 50, "All"]],
                pageLength: 10,
                order: [ [0, "asc"] ],
                columnDefs: [
                    { "orderable": false, "targets": [ 5 ] },
                    { "visible": false, "targets": [ 6, 7, 8, 9 ] },
                ],
                filterDropDown: {
                    columns: [
                        {
                            idx: 9,
                            title: "Alliance"
                        },
                        {
                            idx: 8,
                            title: "Corporation"
                        },
                        {
                            idx: 3
                        },
                        {
                            idx: 6,
                            title: "System"
                        },
                        {
                            idx: 7,
                            title: "Our moon"
                        }
                    ],
                    bootstrap: true,
                    autoSize: false
                },
                createdRow: function( row, data, dataIndex )
                {
                    if (data['has_refinery'])
                    {
                        $(row).addClass('info');
                    }
                }
            };

            /* our moons table */
            def.ajax.url = '{% url "moonplanner:moon_list_data" "our_moons" %}'
            var table = $('#table_our_moons').DataTable(def);
            table.on( 'xhr', function () {
                table.columns.adjust().draw();
                $("#loader_our_moons").hide();
                $("#wrapper_our_moons").show();
            } );

            /* all moons table */
            def.ajax.url = '{% url "moonplanner:moon_list_data" "all_moons" %}'
            var table = $('#table_all_moons').DataTable(def);
            table.on( 'xhr', function () {
                table.columns.adjust().draw();
                $("#loader_all_moons").hide();
                $("#wrapper_all_moons").show();
            } );

            $('#myTabs a[href="#tab_our_moons"]').tab('show')

        });
    </script>
{% endblock %}

{% block extra_css %}
    {% include 'bundles/datatables-css.html' %}
    <link href="{% static 'moonplanner/css/global.css' %}" type="text/css" rel="stylesheet">
    <link href="{% static 'moonplanner/css/moon_list.css' %}" type="text/css" rel="stylesheet">
{% endblock %}

{% block extra_script %}
{% endblock %}
