{% extends 'moonplanner/base.html' %}
{% load i18n %}
{% load static %}
{% load humanize %}
{% load moonplanner %}
{% load evelinks %}

{% block details %}
    <div class="row">
        <div class="col-md-6  mr-md-1">

            <div class="panel panel-default" style="height:220px">
                <div class="panel-heading text-center">
                    <h3 class="panel-title">Moon</h3>
                </div>

                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-3">
                            <p><strong>Name:</strong></p>
                        </div>
                        <div class="col-md-9">
                        <p>{{ moon.eve_moon.name }}</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-3">
                            <p><strong>Solar System:</strong></p>
                        </div>
                        <div class="col-md-9">
                            {% include "moonplanner/partials/solar_system.html" with eve_solar_system=moon.eve_moon.eve_planet.eve_solar_system %}
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-3">
                            <p><strong>Corporation:</strong></p>
                        </div>
                        <div class="col-md-9">
                        <p>{{ moon.refinery.corporation|default:"-" }}</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-3">
                            <p><strong>Refinery:</strong></p>
                        </div>
                        <div class="col-md-9">
                        {% if moon.refinery %}
                            <p>{{ moon.refinery|default:"-" }}  / {{ moon.refinery.eve_type|default:"-" }}</p>
                        {% else %}
                            -
                        {% endif %}
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-3">
                            <p><strong>Value est. *:</strong></p>
                        </div>
                        <div class="col-md-9">
                        <p>{{ moon.value | formatisk }}</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading text-center">
                    <h3 class="panel-title">Products</h3>
                </div>
                <div class="panel-body">
                    {% if product_rows|length_is:"0" %}
                        <p class="text-warning"><strong>
                            We could not find a survey for this moon in our database.
                        </strong></p>
                    {% else %}

                        {% for product_row in product_rows %}
                            <div class="row">
                                <div class="col-md-2">
                                    <img class="media-object" src="{{ product_row.image_url }}">
                                </div>

                                <div class="col-md-8">
                                    <p><a href="{{ product_row.ore_type_url}}" target="_blank">
                                            {{ product_row.ore_type_name }}
                                        </a>
                                        ({{ product_row.ore_group_name }})
                                    </p>
                                    <div class="progress" style="height: 20px; width: 100%">
                                        <div
                                            class="progress-bar progress-bar-success progress-bar-striped"
                                            role="progressbar"
                                            aria-valuenow="{{ product_row.amount }}"
                                            aria-valuemin="0"
                                            aria-valuemax="100"
                                            style="width: {{ product_row.amount }}%; line-height: 20px;"
                                        >
                                            <span class="sr-only">
                                                {{ product_row.amount }}% {{ product_row.ore_type_name }}
                                            </span>
                                            <h5 class="media-heading" style="padding-top: 2px">
                                                {{ product_row.amount }}%
                                                </h5>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-2">
                                    <span class="pull-right">
                                        <br>
                                        {{ product_row.value | formatisk }}
                                    </span>
                                </div>
                            </div>
                        {% endfor %}
                    {% endif %}
                    <p class="text-muted">Last updated on {{moon.products_updated_at|datetime|default:"?"}} by {{moon.products_updated_by.profile.main_character|default:"?"}}<p>
                </div>
            </div>
            {% include 'moonplanner/partials/value_estimate_legend.html' %}
        </div>

        <div class="col-md-6">

            <div class="panel panel-default">
                <div class="panel-heading text-center">
                    <h3 class="panel-title">Next Extraction</h3>
                </div>
                <div class="panel-body">
                    {% if moon.refinery == "" %}
                        <p>N/A</p>
                    {% elif next_pull == None %}
                        <p>No extraction scheduled</p>
                    {% else %}
                        <div class="row">
                            <div class="col-md-3">
                                <p><strong>Ready Time:</strong></p>
                            </div>
                            <div class="col-md-9">
                                <p>{{ next_pull.ready_time|datetime }}</p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-3">
                                <p><strong>Auto Fracture Time:</strong></p>
                            </div>
                            <div class="col-md-9">
                                <p>{{ next_pull.auto_time|datetime }}</p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-3">
                                <p><strong>Started By:</strong></p>
                            </div>
                            <div class="col-md-9">
                                <p>{{ next_pull.started_by|default:"?" }}</p>
                            </div>
                        </div>

                        <table class="table table-striped" id="table_next_pull">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Ore Type</th>
                                <th>Volume</th>
                                <th>Value est.</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for product in next_pull.products %}
                                <tr>
                                    <td><img src="{{ product.image_url }}"/></td>
                                    <td><a href="{{ product.ore_type_url }}" target="_blank">{{ product.ore_type_name }}</a></td>
                                    <td>{{ product.volume|floatformat:"0"|intcomma }}</td>
                                    <td>{{ product.value|formatisk}}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                        <tfoot>
                            <tr>
                                <th></th>
                                <th>TOTAL</th>
                                <th>{{ next_pull.total_volume|floatformat:"0"|intcomma }}</th>
                                <th>{{ next_pull.total_value|formatisk}}</th>
                            </tr>
                        </tfoot>
                        </table>
                    {% endif %}

                </div>
            </div>

        </div>
        <div class="col-md-6 {% if product_rows|length_is:'0' %}col-md-offset-6{% endif %}">

            <div class="panel panel-default">
                <div class="panel-heading text-center">
                    <h3 class="panel-title">Past Extractions</h3>
                </div>
                <div class="panel-body">
                     {% if moon.refinery == "" %}
                        <p>N/A</p>
                    {% else %}
                        <table class="table text-center" id="table_past_events">
                            <thead>
                                <th>Ready Time</th>
                                <th>Volume</th>
                                <th>Value est.</th>
                            </thead>
                            <tbody>
                                {% if ppulls|length_is:"0" %}
                                    <tr>
                                        <td> No past extractions recorded for this moon.</td>
                                    </tr>
                                {% else %}
                                    {% for pull in ppulls %}
                                        <tr>
                                            <td>{{ pull.ready_time|datetime }}</td>
                                            <td>{{ pull.volume|floatformat:"0"|intcomma }}</td>
                                            <td>{{ pull.value|formatisk|default:"-" }}</td>
                                        </tr>
                                    {% endfor %}
                                {% endif %}
                            </tbody>
                        </table>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block extra_javascript %}
    {% include 'bundles/datatables-js.html' %}
    <script>
        $(document).ready(function(){
            $('#table_past_events').DataTable({
                order: [ [0, "desc"] ]
            });
        });
    </script>
{% endblock %}

{% block extra_css %}
    {% include 'bundles/datatables-css.html' %}
     <link href="{% static 'moonplanner/css/global.css' %}" type="text/css" rel="stylesheet">
     <link href="{% static 'moonplanner/css/moon_details.css' %}" type="text/css" rel="stylesheet">
{% endblock %}

{% block extra_script %}
{% endblock %}
