{% extends 'moonplanner/base.html' %}
{% load i18n %}
{% load static %}

{% block details %}
    <ul id="myTabs" class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active">
            <a href="#tab_owned_value" aria-controls="tab_owned_value" role="tab" data-toggle="tab">Moons total value</a>
        </li>
    </ul>

    <div class="panel panel-default panel-tabs">
        <div class="panel-body">
            <div class="tab-content">
                {% include "moonplanner/partials/reports_owned_value_tab.html" %}
            </div>
            {% include 'moonplanner/partials/value_estimate_legend.html' %}
        </div>
    </div>
{% endblock %}

{% block extra_javascript %}
    {% include 'bundles/datatables-js.html' %}
    <script type="application/javascript" src="{% static 'moonplanner/vendor/datatables/plugins/dataTables.rowGroup.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'moonplanner/js/global.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/filterDropDown/filterDropDown.min.js' %}"></script>
    <script type="text/javascript">
        $(function() {
            $('#table_owned_value').DataTable(
                {
                ajax: {
                    url: '{% url "moonplanner:report_owned_value_data" %}',
                    dataSrc: '',
                    cache: true
                },
                columns: [
                    { data: 'corporation' },
                    { data: 'moon',
                        render: {
                            _: 'display',
                            sort: 'sort'
                        }
                    },
                    { data: 'region' },
                    {
                        data: 'value',
                        render: $.fn.dataTable.render.number(',', '.', 1)
                    },
                    {
                        data: 'grand_total_percent',
                        render: $.fn.dataTable.render.number(',', '.', 0)
                    },
                    { data: 'rank' },
                    {
                        data: 'total',
                        render: $.fn.dataTable.render.number(',', '.', 1)
                    },
                ],
                lengthMenu: DEFAULT_LENGTH_MENU,
                pageLength: DEFAULT_PAGE_LENGTH,
                order: [ [0, "asc"], [1, "asc"] ],
                ordering: false,
                rowGroup: {
                    dataSrc: 'corporation',
                    className: 'table-group'
                },
                columnDefs: [
                    { "visible": false, "targets": [ 0 ] },
                    { "orderable": false, "targets": [ 1 ] },
                ],
                createdRow: function( row, data, dataIndex ) {
                    if (data['is_total']) {
                        $(row).addClass('info');
                    }
                },
                footerCallback: function (row, data, start, end, display) {
                    var api = this.api(), data;
                    var total_value = api
                        .column(6)
                        .data()
                        .reduce(function (a, b) {
                                return intVal(a) + intVal(b);
                            },
                            0
                        );
                    $(api.column(6).footer()).html(total_value.toFixed(1));
                    var total_percent = api
                        .column(4)
                        .data()
                        .reduce(function (a, b) {
                                return intVal(a) + intVal(b);
                            },
                            0
                        );
                    $(api.column(4).footer()).html(total_percent.toFixed(0));
                }
            });
        });
    </script>
{% endblock %}

{% block extra_css %}
    {% include 'bundles/datatables-css.html' %}
    <link rel="stylesheet" href="{% static 'memberaudit/vendor/datatables/plugins/rowGroup.dataTables.min.css' %}" type="text/css">
    <link href="{% static 'moonplanner/css/global.css' %}" type="text/css" rel="stylesheet">
    <link href="{% static 'moonplanner/css/reports.css' %}" type="text/css" rel="stylesheet">
{% endblock %}

{% block extra_script %}
{% endblock %}
