#table_next_pull thead th { text-align: center; vertical-align: center;}
#table_next_pull tbody td { text-align: center; vertical-align: center;}
#table_next_pull tfoot th { text-align: center; vertical-align: center;}
