#table_extraction_details thead th {
	text-align: center;
	vertical-align: top;
}
#table_extraction_details tbody td {
	text-align: center;
	vertical-align: top;
}
#table_extraction_details tfoot th {
	text-align: center;
	vertical-align: top;
}
#table_extraction_details tbody td:nth-child(3) {
	text-align: right;
}
#table_extraction_details tbody td:nth-child(4) {
	text-align: right;
}
#table_extraction_details tfoot th:nth-child(3) {
	text-align: right;
}
#table_extraction_details tfoot th:nth-child(4) {
	text-align: right;
}
